html, body {
  margin-left: 2%; margin-right: 2%;
  padding: 0; height: 100%;
}
.signin {
  width: 60%;
  /*background: red;*/
}
.signin input, select {
  width: 400px; height: 40px; font-size: 20px; margin: 0.5%; display: block;
}
.signin select {

}
.signin textarea {
  width: 400px; height: 150px; font-size: 20px; margin: 0.5%; display: block; resize: none;
}
.signin #sex {
  background: blue;
}
